*{
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div{
    height: 300px;
    width: 300px;
    background-color: #007162;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    border: none;
    border-bottom: aqua 2px solid;
    background-color: unset;
    outline: none;
    color: aqua;
}
button{
    border: solid aqua 2px;
    background-color: unset;
    padding: 6px;
    border-radius: 4px;
    color: aqua;
}
button:hover{
    background-color: aliceblue;
    color: black;
}
button:disabled{
    background-color: aliceblue;
    color: black;
}
h5{
    color: aqua;
}
h4{
    color:aqua;
}